{% extends "OdysseusBackBundle::layout.html.twig" %}

{% block title %}
	Ajouter un Etat - {{ parent() }}</h2>
{% endblock %}

{% block odysseusback_body %}

        <h2 class="page-header">Ajouter un état</h2>

	{%  include "OdysseusBackBundle:Forms:formPageStatique.html.twig" %}
	
	
{% endblock %}