{% extends "OdysseusBackBundle::layout.html.twig" %}

{% block title %}
	Ajouter une page statique - {{ parent() }}</h2>
{% endblock %}

{% block odysseusback_body %}

        <h2 class="page-header">Ajouter une page statique</h2>

	{%  include "OdysseusBackBundle:Forms:formPageStatique.html.twig" %}
	
	
{% endblock %}