<div class="fond">
    <ul>
        <li><a href="{{ path('fos_user_profile_show') }}" title=""> Mes informations</a></li>
        <li><a href="{{ path('fos_user_profile_edit') }}" title=""> Editer mes informations</a></li>
        <li><a href="{{ path('fos_user_change_password') }}" title=""> Changer mon mot de passe</a></li>
        <li><a href="{{ path('odysseus_front_profile_adresse') }}" title=""> Mes adresses</a></li>
        <li><a href="" title=""> Mes commandes</a></li>
        <li><a href="" title=""> Mes factures</a></li>
        <li><a href="" title=""> Mes articles</a>
            <ul>
              <li><a href="" title="">en cours de vente</a></li>
              <li><a href="" title="">en cours de validation</a></li>
              <li><a href="" title="">en cours refusé</a></li>
              <li><a href="" title="">validé</a></li>
            </ul>
        </li>
        <li><a href="" title=""> Mes ventes</a>
    </ul>
</div><!-- .fond -->