    {% extends "OdysseusBackBundle::layout.html.twig" %}

{% block title %} 
	Lister des clients - {{ parent() }}
{% endblock %}

{% block odysseusback_body %}
	
    <h2 class="page-header">Liste des clients</h2>  
        
        {% for message in app.session.flashbag.get('client') %}
            <p class="bg-success contextual">{{ message }}</p>
        {% endfor %}
            
        <table class="table table-bordered">
            <thead>
                <tr>
                <th>Pseudo</th>    
                <th>Civilité</th>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Naissance</th>
                <th>Adresse</th>
                <th>Cp</th>
                <th>Ville</th>
                <th>France</th>
                <th>Téléphone</th>
                <th>Email</th>
                <th>Créa.</th>
                <th>Modif.</th> 
                <th>Etat</th>
                <!--<th>Modifier</th>-->
                <th>Bannir</th>
                </tr>
            </thead>
            <tbody>
                {% if (liste_clients | length) > 0 %}
                    {% for client in liste_clients %}
                    
                    {{ liste_adresses|ladybug_dump }}
                        <tr>
                            <td> {# client.user.username #} </td>
                            <td> {# if (client.civilite != null )%} {# client.user.civilite #} {# endif #}</td>
                            <td> {# if (client.nom != null )%} {# client.user.nom #} {# endif #}</td>
                            <td> {# if (client.prenom != null )%} {# client.user.prenom #} {# endif #}</td>
                            <td> {# client.user.dateNaissance|date("d/m/Y") #} </td>
                            <td> {# adresse.id.adresse #} </td>
                            <td> {# client.cp #} </td>
                            <td> {# client.ville #} </td>
                            <td> {# client.pays #} </td>
                            <td> {# if (client.user.telephone != null )%} {# client.user.telephone #} {# endif %}</td>
                            <td> {# client.user.email #} </td>
                            <td> {# if (client.user.dateCreation != null )%} {# client.user.dateCreation|date("d/m/Y") #} {# endif %}</td>
                            <td> {# if (client.user.dateModification != null )%} {# client.user.dateModification|date("d/m/Y") #} {# endif #} </td></td>
                            <td> {# if (client.user.etat != null )%} {# client.user.etat.nom #} {# endif #}</td> 
                            <td>
                                <a href="{# path('odysseus_back_bannir_client', {id: client.id}) #}"><i class="glyphicon glyphicon-warning-sign"></i></a> 
                            </td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr> 
                        <td colspan="15">Pas de clients.</td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
           	
{% endblock %}