<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link href="{{ asset('css/styles.css') }}" rel="stylesheet" type="text/css" />
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <header>
			<div id="top">
				<div id="logo">
					<img src="" alt="Logo société" />
				</div><!--
				--><div id="recherche">
					<form>
						<input type="text" name="recherche" id="recherche" placeholder="Recherche"/>
						<button type="submit"></button>
					</form>
				</div><!--
			--><div id="droite">
					<div id="liens">
						<ul>
							<li><a href="#" title="Plan du site">Plan du site </a></li>
							<li><a href="#" title="Contact">Contact</a></li>
						</ul><!--
						--><div id="flux_rss"><a href="#" title="Flux RSS"></a></div>
					</div>
					<div id="panier">
						<a href="panier.php" title="Votre panier">Panier (0)</a>
					</div>
					<div id="connexion">
						<ul>
							<li><a href="connexion.php" title="Se connecter">Se connecter </a></li>
							<li><a href="connexion.php" title="S'identifier">S'identifier</a></li>
						</ul>
					</div>
				</div>
			</div> <!-- fin #top-->
			<nav>
				<ul>
					<li><a href="index.php" title="">Accueil</a></li>
					<li><a href="#" title="">Catégorie 1</a></li>
					<li><a href="#" title="">Catégorie 2</a></li>
					<li><a href="#" title="">Catégorie 3</a></li>
					<li><a href="#" title="">Catégorie 4</a></li>
				</ul>
			</nav>
	
		</header>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}

        <footer>
			<div id="footer">
				<div id="produits">
					<h3>Produits</h3>
					<ul>
						<li><a href="#" title="">Meilleures ventes</a></li>
						<li><a href="#" title="">Nouveautés</a></li>
						<li><a href="#" title="">Catégorie1</a></li>
						<li><a href="#" title="">Catégorie2</a></li>
						<li><a href="#" title="">Catégorie3</a></li>
					</ul>
				</div><!--
				--><div id="reseaux">
					<h3>Suivez-nous</h3>
					<div id="fb_twitter">
						<a href="#" title=""><span class="facebook"></span></a>
						<a href="#" title=""><span class="twitter"></span></a>
					</div><!--#fb_twitter-->
					<p>	Les derniers tweets</p>
					<ul>
						<li class="tweet">Lorem ipsum tsea ei vidisse legendos, ne habemus deterruisset cum. Stet possim eloquentiam qui no  [...] </li>
						<li class="tweet">Lorem ipsum tsea ei vidisse legendos set cum. Stet possim eloquentiam qui no  Lorem ipsum sea  [...] </li>
					</ul>	
				</div><!--
				--><div id="informations">
					<div id="infos">
						<h3>Informations</h3>
						<ul>
							<li><a href="#" title="">Livraison</a></li>
							<li><a href="#" title="">Paiement</a></li>
							<li><a href="#" title="">Mentions légales</a></li>
							<li><a href="#" title="">Conditions de vente</a></li>
						</ul>
					</div><!--
					--><div id="pictos">
						<span class="paypal"></span>
						<span class="visa"></span>
					</div>
				</div> <!--fin #informations-->
			</div>	<!--fin #footer-->
		</footer>

    </body>
</html>
