{% extends "OdysseusBackBundle::layout.html.twig" %}

{% block title %}
	Ajouter un Produit au catalogue - {{ parent() }}</h2>
{% endblock %}

{% block odysseusback_body %}

        <h2 class="page-header">Ajouter un produit au Catalogue</h2>

	{%  include "OdysseusBackBundle:Forms:formProduitCatalogue.html.twig" %}
	<p>
            <a href="{{ path('odysseus_back_lister_produit_catalogue') }}" class="btn btn-info">
                <i class="glyphicon glyphicon-chevron-left"></i>Retour à la liste des produits du Catalogue
            </a>
	</p>
	
{% endblock %}