{% extends "OdysseusBackBundle::layout.html.twig" %}

{% block title %}
	Modifier un produit - {{ parent() }}</h2>
{% endblock %}

{% block odysseusback_body %}

	<h2 class="page-header">Modifier un produit</h2>

	{%  include "OdysseusBackBundle:Forms:formProduit.html.twig" %}

	<p>
            <a href="{{ path('odysseus_back_lister_produit') }}" class="btn btn-info"> <i class="glyphicon glyphicon-chevron-left"></i>Retour à la liste des produits</a>
	</p>
	
{% endblock %}