{% extends "OdysseusBackBundle::layout.html.twig" %}

{% block title %}
	Bienvenue sur le back-office de votre site - {{ parent() }}</h2>
{% endblock %}

{% block odysseusback_body %}

        <h2 class="page-header">Bienvenue sur le back-office de votre site !</h2>
 
	<p>
		<a href="#" class="btn"><i class="icon-chevron-left"></i>Retour ˆ la liste</a>
	</p>
	
{% endblock %}



