{% extends "OdysseusBackBundle::layout.html.twig" %}

{% block title %}
	Bienvenue sur le back-office de votre site - {{ parent() }}</h2>
{% endblock %}

{% block odysseusback_body %}

        <h2 class="page-header">Bienvenue sur le back-office de votre site !</h2>

<p>voir chose à mettre </p>
	
{% endblock %}



