{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
    <div id="profil">

        {% include "OdysseusUserBundle:Default:menuProfile.html.twig" %}
    <div id="detail">
        <div id="select_form" >
            {% if(liste_categorie| length) > 0 %}
                <select id="categorieAjax" name="categorieAjax">
                    <option value="" selected>Choisir une categorie</option>
                    {% for categorie in liste_categorie %}
                        <option value="{{ categorie.getIdCategorie }}">{{ categorie.nom }}</option>
                    {% endfor %}
                </select>
                <select id="SousCategorieAjax" name="SousCategorieAjax">
                    <option value="">--Sous Categorie--</option>
                </select>
                <select id="marqueAjax" name="marqueAjax">
                    <option value="">--Marque--</option>
                </select>
                <button onclick="AjaxProduitRecherche()">Recherche des produits</button>
            {% else %}
                <span>Il n'y a pas de categorie ajouter</span>
            {% endif %}
        </div>
        <div id="produit_recherche">

        </div>
        </div>
    </div>

{% endblock fos_user_content %}