{% extends "OdysseusFrontBundle::layout.html.twig" %}

{% block title %} {{ parent() }} - Accueil {% endblock %}


{% block body %}

    <div id="wrap">

        <div id="haut">
          {% include "OdysseusFrontBundle:Default:slider.html.twig" %}  
        </div><!--#haut-->

        <div id="bas">
            <div id="a_la_une">
                <h2>Catégorie 1</h2>
                <div class="produit">
                    <img src="http://lorempixel.com/250/140/nature/1/" alt="" />
                    <span class="marque">Marque</span>
                    <span class="nom_produit">Nom produit</span>
                    <p class="descriptif">Lorem ipsum dolor sit amet, consectetur adipisicing elistrud ullamco, consectetur adipisicing elistrud ullamco.</p>
                    <span class="prix">159 €</span>
                    <a href="{# path ('odysseus_front_produit_presentation', { id : produit.idProduitVente}) #}" title=""><span class="infos">+ Plus d'infos</span></a>
                </div><!-- fin .produit --><!--
            --><div class="produit">
                    <img src="http://lorempixel.com/250/140/nature/2/" alt="" />
                    <span class="marque">Marque</span>
                    <span class="nom_produit">Nom produit</span>
                    <p class="descriptif">Lorem ipsum dolor sit amet, consectetur adipisicing elistrud ullamco.</p>
                    <span class="prix">159 €</span>
                    <a href="{# path ('odysseus_front_produit_presentation', { id : produit.idProduitVente}) #}" title=""><span class="infos">+ Plus d'infos</span></a>
               </div><!-- fin .produit -->
                    <div id="plus_produits">
                        <span><a href="" title="">Voir + de produits</span></a>
                    </div> <!-- fin .#plus_produits -->
            </div><!--#a_la_une--><!--
        --><div id="nouveau">
                    <h2>Nouveau</h2>
                    <img src="http://lorempixel.com/250/140/nature/3/" alt="">
                    <span class="marque">Marque</span>
                    <span class="nom_produit">Nom produit</span>
                    <p class="descriptif">Lorem ipsum dolor sit amet, consectetur adipisicing elistrud ullamco.</p>	
                    <span class="prix">159 €</span>
                    <a href="{# path ('odysseus_front_produit_presentation', { id : produit.idProduitVente}) #}" title=""><span class="infos">+ Plus d'infos</span></a>
                </div><!-- fin #nouveau -->	
        </div> <!-- fin #bas -->

    </div><!--#wrap -->

{% include "OdysseusFrontBundle:Default:sidebar.html.twig" %}
			
{% endblock %}