{% extends "OdysseusFrontBundle::layout.html.twig" %}

{% block title %} {{ parent() }} - Produit {% endblock %}

{% block body %}
    <div id="wrap">
        {% include "OdysseusFrontBundle:Default:menuPanier.html.twig" %}
        <div id="livraison">
            <h2>Frais de port</h2>

            <form action="{{ path('odysseus_front_payer')}}" methode="">
            <div>
            
            </div>
            
            <div>
                <button type="submit">Payer</button>
            </div>
            </form>
        </div>
    </div>
    {% include "OdysseusFrontBundle:Default:sidebar.html.twig" %}

{% endblock %}