<div id="menu">
    <ul>
        <li class="etape">Résumé</li> 
        <li class="etape">Identifiez-vous</li>
        <li class="etape">Adresse</li>
        <li class="etape">Frais de port</li>
        <li class="etape">Paiement</li>
    </ul>
</div>