{% for categorie in liste_categories %}
    <li><a href="#" title="">{{ categorie.nom }}</a></li>

{% endfor %}  


{% for souscategorie in liste_sous_categories %}
    <li><a href="#" title="">{{ souscategorie.nom }}</a></li>

{% endfor %}