<!--
--><div id="sidebar">
				
	<div id="promotions" class="widget">
		<h2>Promotions</h2>
		<div id="promo">
			<img src="http://lorempixel.com/210/140/nature/5/" alt="">
			<div id="pourcentage"><span> -20%</span> </div>
			<span class="marque">Marque</span>
			<span class="nom_produit">Nom produit</span>
			<span class="prix">159 €</span>
			<span class="prix barre">159 €</span>
			<div id="plus_promotions">
				<span><a href="" title="">Voir + de produits</a></span>
			</div>  <!-- fin #plus_promotions -->
		</div>
	</div> <!-- fin #promotions -->

	<div id="categories" class="widget">
		<h2>Catégories</h2>
		<ul>
			<li>Catégorie 1</li>
			<li>Catégorie 2</li>
			<li>Catégorie 3</li>
		</ul>
		
	</div> <!-- fin #categories -->

	<div id="tags" class="widget">
		<h2>Tags</h2>
	</div> <!-- fin #tags -->

	<div id="newsletter" class="widget">
		<h2>Newsletter</h2>
		<form>
			<p>Pour avoir les bonnes infos :</p>
			<input type="text" name="email" id="email" placeholder="Entrez votre e-mail !"/>
			<button type="submit">S'incrire</button>
		</form>
	</div> <!-- fin #newsletter -->
	
</div><!-- fin #sidebar -->