<!-- slider -->
<div id='coin-slider'>
    
    {% if (liste_imagesSlider | length) > 0 %}
    
        {% for image in liste_imagesSlider %}
            <a href="#" title="">
                <img src="{{ asset('uploads/slider/' ~ image.idImageSlider ~ "." ~ image.path) }}" alt="{{ image.nom }}" >
                <span>
                       {{ image.nom }}
                </span>
            </a>

        {% endfor %}
    {% else %}
        <img src="{{ asset('images/image_slider.jpg') }}" alt="Image Slider"/>
    {% endif %}  
</div>