<!-- slider -->
<div id='coin-slider'>
    <a href="#" title="">
        <img src="http://lorempixel.com/970/380/nature/1/" >
        <span>
            Description image 1
        </span>
    </a>
    <a href="#" title="">
        <img src="http://lorempixel.com/970/380/nature/2/" >
        <span>
            Description image 2
        </span>
    </a>
    <a href="#" title="">
        <img src="http://lorempixel.com/970/380/nature/3/" >
        <span>
            Description image 3
        </span>
    </a>
    <a href="#" title="">
        <img src="http://lorempixel.com/970/380/nature/4/" >
        <span>
            Description image 4
        </span>
    </a>
</div>