{% extends "Odysseus::base.html.twig" %}
{% block body %}

	<div id="conditions-ventes">
		<h2>Conditions générales de vente</h2>

		
		<h3>Article 1 - Objet</h3>
		<p>Les conditions générales de ventes décrites ci-après détaillent les droits et obligations de l'entreprise Odysseus et de ses clients dans le cadre de la vente des marchandises suivantes : articles divers.</p>
		<p>Toute prestation accomplie par la société Odysseus implique l'adhésion sans réserve de l'acheteur aux présentes conditions générales de vente.</p>


		<h3>Article 2 - Présentation des produits</h3>

		<p>Les caractéristiques des produits proposés à la vente sont présentées dans la rubrique " Catalogue " de notre site. Les photographies n'entrent pas dans le champ contractuel. La responsabilité de la société Odysseus ne peut être engagée si des erreurs s'y sont introduites. Tous les textes et images présentés sur le site de la société Odysseus sont réservés, pour le monde entier, au titre des droits d'auteur et de propriété intellectuelle; leur reproduction, même partielle, est strictement interdite.<p>


		<h3>Article 3 - Durée de validité des offres de vente</h3>

		<p>Les produits sont proposés à la vente jusqu'à épuisement du stock. En cas de commande d'un produit devenu indisponible, le client sera informé de cette indisponibilité, dans les meilleurs délais, par courrier électronique ou par courrier postal.</p>


		<h3>Editeur du site</h3>Article 4 Prix des produits

		<p>La rubrique " Catalogue " de notre site indique les prix en euros toutes taxes comprises, hors frais de port. Le montant de la TVA est précisé lors de la sélection d'un produit par le client et les frais de port apparaissent sur l'écran à la fin de la sélection des différents produits par le client.</p>

		<p>La société Odysseus se réserve le droit de modifier ses prix à tout moment mais les produits commandés sont facturés au prix en vigueur lors de l'enregistrement de la commande.</p>

		<p>Les tarifs proposés comprennent les rabais et ristournes que l'entreprise Odysseus serait amenée à octroyer compte tenu de ses résultats ou de la prise en charge par l'acheteur de certaines prestations.</p>

		<p>Aucun escompte ne sera accordé en cas de paiement anticipé.</p>


		<h3>Article 5 - Commande</h3>

		<p>Le client valide sa commande lorsqu'il active le lien " Confirmez votre commande " en bas de la page " Récapitulatif de votre commande " après avoir accepté les présentes conditions de vente. Avant cette validation, il est systématiquement proposé au client de vérifier chacun des éléments de sa commande; il peut ainsi corriger ses erreurs éventuelles.</p>

		<p>La société Odysseus confirme la commande par courrier électronique; cette information reprend notamment tous les éléments de la commande et le droit de rétractation du client.</p>

		<p>Les données enregistrées par la société Odysseus constituent la preuve de la nature, du contenu et de la date de la commande. Celle-ci est archivée par la société Odysseusdans les conditions et les délais légaux; le client peut accéder à cet archivage en contactant le service Relations Clients.</p>


		<h3>Article 6 - Modalités de paiement</h3>

		<p>Le règlement des commandes s'effectue par chèque ou carte bancaire.</p>

		<p>Lors de l'enregistrement de la commande, l'acheteur devra verser un acompte de 10 % du montant global de la facture, le solde devant être payé à réception des marchandises</p>


		<h3>Article 7 - Délai de rétractation</h3>

		<p>L'Acheteur dispose d'un délai de quatorze jours francs, à compter de la réception des produits, pour exercer son droit de rétractation sans avoir à justifier de motifs ni à payer de pénalités, à l'exception, le cas échéant, des frais de retour. Si le délai de quatorze jours vient à expirer un samedi, un dimanche ou un jour férié ou chômé, il est prorogé jusqu'au premier jour ouvrable suivant.</p>

		<p>En cas d'exercice du droit de rétractation, la société rembourse l'Acheteur de la totalité des sommes versées, dans les meilleurs délais et au plus tard dans les trente jours suivant la date à laquelle ce droit a été exercé.</p>


		<h3>Article 8 - Livraison</h3>

		<p>Tout produit est livré sans garantie quant aux délais, exception faite des livraisons aux particuliers. La date limite de livraison varie suivant leur adresse. Elle est fixée, pour une adresse en France métropolitaine, au jour du paiement + 8 jours et, pour les autres destinations, au jour du paiement + 1 mois.</p>


		<h3>Article 9 -  Relations clients - Service après-vente</h3>

		<p>Pour toute information, question ou réclamation, le client peut s'adresser du lundi au vendredi, de 9 h à 18 h au service Relations Clients de la société</p>
		<p>Adresse: 9 rue de la Poste - Tél: 01 02 03 04 05 - e-mail: info@odysseus.fr</p> 

	</div>
 
{% endblock %}