{% extends "Odysseus::base.html.twig" %}
{% block body %}

	<div id="mentions-legales">
		<h2>Mentions légales</h2>

		<h3>Editeur du site</h3>
		<p>Odysseus SARL</p>

		<h3>Directeur de Publication</h3>
		<p>Erwan Letort</p>

		<h3>Raison Sociale</h3>
		<p>BLOG ECOMMERCE <br/>9 rue de la Poste <br/> 75000 Paris <br/> TVA : FR36510621006</p>
		<p>Capital social : 5 000,00 €</p>
		<p>SIRET : 510 621 006 00020 R.C.S. Nanterre</p>

		<h3>Conception du site</h3>
		<p>Odysseus SARL</p>

		<h3>Hébergeur</h3>
		<p>OVH</p>

		<h3>Mentions légales</h3>

		<p class="gras">Protection des données personnelles</p>
		<p>Conformément à l’article 34 de la loi « Informatique et Libertés », vous disposez d’un droit d’accès, de modification, de rectification et de suppression des données qui vous concernent. <br/>
		Pour exercer ce droit d’accès, adressez un email avec vos coordonnées à contact[]blog-ecommerce.com</p>
		

		<h3>Droit d’auteur et copyright</h3>
		<p>L’ensemble des informations présentes sur ce site peuvent être reproduites gratuitement et sans autorisation. Il suffit de citer la source.</p>

		<p class="gras">Responsabilités</p>
		<p>L’ensemble des informations accessibles via ce site sont fournies en l’état.
		Odysseus ne donne aucune garantie, explicite ou implicite, et n’assume aucune responsabilité relative à l’utilisation de ces informations.
		Odysseus n’est pas responsable ni de l’exactitude, ni des erreurs, ni des omissions contenues sur ce site.
		L’utilisateur est seul responsable de l’utilisation de telles informations.</p>

		<p>Odysseus se réserve le droit de modifier à tout moment les présentes informations, notamment en actualisant ce site.
		Odysseus ne pourra être responsable pour quel que dommage que ce soit tant direct qu’indirect, résultant d’une information contenue sur ce site.
		L’utilisateur s’engage à ne transmettre sur ce site aucune information pouvant entrainer une responsabilité civile ou pénale et s’engage à ce titre à ne pas divulguer via ce site des informations illégales, contraires à l’ordre public ou diffamatoires.</p>

		<p class="gras">Droit d’accès et modifications</p>
		<p>En vertu de l’article 27 de la loi n°78-17 du 6 janvier 1978 relative à l’informatique, aux fichiers et aux libertés, vous disposez d’un droit d’accès, de modification, de rectification et de suppression des données qui vous concernent. Vous pouvez à tout moment vous opposer gratuitement et sans motif à la diffusion et/ou à la conservation, par Blog E-commerce.com, des données que vous avez fournies.</p>
		
		<p class="gras">Loi applicable et compétence</p>
		<p>Les présentes conditions sont soumises à la loi française. L’attribution de compétence en cas de litige, et à défaut d’accord amiable entre les parties, est donnée aux tribunaux français compétents.</p>

	</div>
 
{% endblock %}