{% extends "::base.html.twig" %}

{% block title %} Plan du site {% endblock %}

{% block body %}

	<div id="pan-site" class="bloc">
		<h2>Plan du site</h2>
		<p>je suis le maître du site!</p>
	</div>
	
{% endblock %}