{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}

<div id="identification">
    <h2>Mot de passe perdu</h2>
    <div class="fond">
        <p>{{ 'registration.check_email'|trans({'%email%': user.email}) }}</p>
    </div>  
</div>
{% endblock fos_user_content %}
