{% trans_default_domain 'FOSUserBundle' %}
<div id="profil">
    
    {% include "OdysseusUserBundle:Default:menuProfile.html.twig" %}
    
    <div id="detail">
        <h2>Modifier mon mot de passe</h2>
        
        <form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="fos_user_change_password">
            {{ form_widget(form) }}
            <div>
                <button type="submit">{{ 'change_password.submit'|trans }}</button>
            </div>
        </form>

    </div>   
</div>